!!!
%html
    %head
        %link{:href => "style.css",:type => "text/css", :rel => "stylesheet" }
        %title
            Known Unknowns
        <meta name="google-site-verification" content="swT1-gsYVp5pE61ImbN-_OWn-NZ8xWJoe54XVnUrYz4" />
    %body
        .wrap
            %h1
                Known <br />Unknowns
            %div.about
                Design is not rigid. Knowledge is unstable. This work explores territories we know are not understood.
            %div.date
                %h2
                    Dates
                %dl
                    %dt
                        Press & Industry view 
                    %dd
                        <time datetime="2016-02-14">14/2/16</time>
                    %dt
                        Public opening 
                    %dd
                        <time datetime="2016-02-14">15/2/16</time>
                    %dt
                        Closing 
                    %dd
                        <time datetime="2016-02-14">15/2/16</time>
            %div.location
                %h2
                    Location
                <a href="https://www.google.co.uk/maps?q=old+truman+brewery&ion=1&espv=2&bav=on.2,or.&bvm=bv.113943164,d.ZWU&biw=1152&bih=661&dpr=2&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiPncmHufDKAhVBlA8KHXdRA_0Q_AUIBigB"> Old truman brewery, Shoreditch E1 6QL</a>
            %div.contact
                %h2
                    Contact
                %a.twitter{:href => "https://twitter.com/knownunknowns_" }
                    @knownunknowns_
                %div.mailchimp
                    :plain
                        <!-- Begin MailChimp Signup Form -->
                        <form action="https://knownunknowns.us12.list-manage.com/subscribe/post?u=59682d845431e24666cea3d3f&amp;id=8ceb06583d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_59682d845431e24666cea3d3f_8ceb06583d" tabindex="-1" value=""></div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </form>
                        <!--End mc_embed_signup-->
                %ul.email
                    %li.main
                        %a{:href => "mailto:hi@knownunknowns.co.uk"}
                            hi@knownunknowns.co.uk
                    %li.press
                        %a{:href => "mailto:press@knownunknowns.co.uk"}
                            press@knownunknowns.co.uk
                    %li.sponsor
                        %a{:href => "mailto:sponsor@knownunknowns.co.uk"}
                            sponsor@knownunknowns.co.uk
