!!!
%html
    %head
        %style{:href => style.css}
        %title
            Known Unknowns
    %body
        %h1
            Known Unknowns
        %div.about
        %div.date
        %div.location
        %div.contact
            %a.twitter{:href => }
            %ul.email
                %li.main
                    %a
                %li.press
                    %a
                %li.publications
                    %a
                %li.build
                    %a
                %li.sponsorship
                    %a
